.wrap {width:100%; max-width:90rem; margin:2rem auto;}
.wrap header {padding:2rem;}
.wrap header h1 {font-size:2.5rem; font-weight:700;}
.wrap header p {margin:2rem 0 0; line-height:1.4;}
.wrap header p b {font-weight: 700; color:#000;}
.wrap header p a {color:cornflowerblue;}
.wrap header p + p {margin-top:1rem;}

.list {width:100%; overflow: hidden;}
.list_item {position:relative; padding:2rem 0; border-bottom:1px solid #ddd; transition:transform .3s linear;}
.list_item > a {display:block; padding:2rem; box-sizing:border-box; touch-action: pan-y!important;}
.list_item > a > p {font-weight:700; color:#000; line-height:1.6;}
.list_item > a > span {display: block; color:#555; margin-top:1rem; line-height:1.6;}
.list_item > .btn_del {position:absolute; right:-7rem; top:0; width:7rem; height:12.745rem; background:tomato; color:#fff; font-size:1.2rem; font-weight:700; color:#fff;}

.bottom-sheet {position:fixed; left:0; bottom:calc(-100% + 22rem); display:flex; flex-direction:column; justify-content:flex-start; width:100%; height:calc(100% - 6rem); background:#fff; border-radius:1rem 1rem 0 0; box-shadow:0 0 7rem rgba(0,0,0, 0.15); overflow:hidden; transition:bottom .3s}
.bottom-sheet.on {bottom:0;}
.bottom-sheet .head {flex:0 0 3rem; background:gray;}
.bottom-sheet .body {flex:0 0 calc(100% - 3rem); overflow-y:scroll; overscroll-behavior:none; background:yellow;}
.bottom-sheet .list {padding:1rem; box-sizing:border-box;}
.bottom-sheet .list li + li {margin-top:2rem;}
.bottom-sheet .list li a {display:block; border:2px solid gray; padding:2.5rem 1rem; user-select: none; -webkit-user-select: none; -webkit-user-drag: none;}